language: php

matrix:
  include:
    - sudo: required
      services:
        - docker
      env:
        - RELEASE=trusty
      php: '5.6'
    - sudo: required
      dist: precise
      group: edge
      env:
        - RELEASE=precise
      php: '5.6'
  allow_failures:
    - sudo: required
      services:
        - docker
      env:
        - RELEASE=trusty
      php: '5.6'

env:
  global:
  - VERSION=master ALIAS=nightly

install:
- sudo apt-get update -qq
- sudo apt-get install expect
- cp $HOME/.php-build/share/php-build/default_configure_options $HOME
- rm -rf $HOME/.phpenv
- git clone 'https://github.com/phpenv/phpenv.git' $HOME/.phpenv
- eval "$($HOME/.phpenv/bin/phpenv init -)"
- pushd $HOME/.php-build
- git reset --hard HEAD
- git checkout master
- git pull
- popd
- mv $HOME/default_configure_options $HOME/.php-build/share/php-build/default_configure_options

before_script:
- 'export LSB_RELEASE=${LSB_RELEASE:-$(lsb_release -rs || echo ${$(sw_vers -productVersion)%*.*})}'
- 'export OS_NAME=${OS_NAME:-$(lsb_release -is | tr "A-Z" "a-z" || echo "osx")}'
- 'export ARCH=${ARCH:-$(uname -m)}'
- 'export INSTALL_DEST=${INSTALL_DEST:-$HOME/.phpenv/versions}'
- __dots() { while true ; do echo -en . ; sleep 30 ; done } ; __dots &

script:
  - ./bin/compile
  - cat $HOME/.pearrc
  # - ./bin/compile-extensions
  - ./bin/compile-extension-redis
  - ./bin/compile-extension-mongo
  - ./bin/compile-extension-mongodb
  - ./bin/compile-extension-amqp
  - ./bin/compile-extension-zmq
  - ./bin/compile-extension-memcache
  - ./bin/compile-extension-memcached
  - sed -i '/^extension=/d' $INSTALL_DEST/$VERSION/etc/php.ini

after_success: ./bin/archive

after_failure: cat /tmp/php-build.*.log

addons:
  artifacts:
    paths:
    - $LSB_RELEASE/
    target_paths:
    - /binaries/$OS_NAME/$LSB_RELEASE/$ARCH
